/* * margin classes  */

.m-10{
    margin: 5rem;
}

.m-top-5 {
    margin-top: 5rem;
}
/* ************ */
.no-show {
    display: none;
}


/* ************* */
.noti-container {
    height: 2rem;
}

.success {
    background-color: #dff0d8;
    color: green;
}

.worning {
    background-color: rgb(250, 191, 81);
    color: rgb(74, 61, 1);
}

.danger {
    background-color: lightcoral;
    color: red;
}

